.txt-title {
  font-size: 18px;
  font-weight: bold;
}

.wrap-contact {
  display: flex;
  padding: 4px;
  margin-top: 15px;

  .wrap-contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 550;
    line-height: 1.5;
  }

  .wrap-buttons {
    .button {
      width: 52px;
      height: 24px;
      border: 1px solid var(--black);
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background-color: #fff;
      font-weight: 400;
      font-size: 13px;
      text-decoration: none;
      margin-bottom: 6px;
      box-sizing: border-box;
      color: var(--black);
      cursor: pointer;
    }
  }
}
