.container {
  background-color: antiquewhite;
  text-align: center;
  font-weight: 500;
  color: #454545;

  .text-date {
    font-size: 30px;
    margin-bottom: 12px;
  }

  .text-day {
    font-size: 17px;
  }
}
