.container {
  text-align: center;
  font-weight: 500;
  color: #454545;

  .text-date {
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 700;
  }

  .text-day {
    font-size: 18px;
  }
}
