.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #000;

  .icon-close {
    position: fixed;
    top: 20px;
    right: 20px;

    width: 30px;
    height: 30px;
    fill: #fff;

    cursor: pointer;
    z-index: 2;
  }
}
